In [12]:
import selenium 
import pandas as pd
from selenium import webdriver
import time
import requests
import undetected_chromedriver as uc

In [13]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [14]:
driver.maximize_window()

In [15]:
brand=[]
year=[]
km_driven=[]
fuel=[]
model=[]
price=[]

In [16]:
def get_details(city_name):
    driver.get("https://www.cars24.com/buy-used-cars-" + city_name + "/")
   
    SCROLL_PAUSE_TIME = 20

    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

    Brand=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[1]/div/h2")
    for j in Brand:
        brand.append(j.text.split()[1])
        model.append(j.text.split()[2])
        year.append(j.text.split()[0])

    KM_driven=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
    for m in KM_driven:
        km_driven.append(m.text)

    Fuel=driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
    for m in Fuel:
        fuel.append(m.text)

    Price=driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]/span")
    for q in Price:
        price.append(q.text)

In [17]:
city_list=['new-delhi','noida','gurgaon','mumbai','pune','bengaluru','hyderabad','chennai','kolkata','Ahmedabad',
          'Chandigarh','jaipur','jamshedpur','nagpur','patna','nasik','kochi','lucknow','bhopal','ludhiana',
          'surat','vadodara','rajkot']
for city in city_list:
    get_details(city)

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [18]:
car24_df=pd.DataFrame({"Brand":brand,"Model":model,"Year":year,"Fuel":fuel,"KM driven":km_driven,"Price":price})

In [19]:
len(car24_df)

5156

In [20]:
car24_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5156 entries, 0 to 5155
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Brand      5156 non-null   object
 1   Model      5156 non-null   object
 2   Year       5156 non-null   object
 3   Fuel       5156 non-null   object
 4   KM driven  5156 non-null   object
 5   Price      5156 non-null   object
dtypes: object(6)
memory usage: 241.8+ KB

In [21]:
car24_df

        Brand    Model  Year    Fuel    KM driven       Price
0         KIA   SELTOS  2020  Petrol     5,822 km  ₹11,33,599
1      Maruti    Swift  2012  Diesel  1,18,117 km   ₹3,43,199
2     Hyundai    Verna  2013  Diesel    53,517 km   ₹4,82,299
3      Maruti    Swift  2013  Diesel    49,944 km   ₹3,54,299
4      Maruti    Swift  2016  Diesel  1,06,080 km   ₹4,49,299
...       ...      ...   ...     ...          ...         ...
5151   Maruti     Alto  2020  Petrol     4,179 km   ₹3,30,799
5152   Maruti     Alto  2020  Petrol    38,222 km   ₹3,61,899
5153   Maruti     Alto  2018  Petrol    24,853 km   ₹2,96,799
5154   Maruti     Alto  2018  Petrol    50,463 km   ₹3,32,599
5155   Maruti  Celerio  2018  Petrol    41,352 km   ₹4,40,199

[5156 rows x 6 columns]

In [22]:
car24_df.to_csv("car_price.csv")